# Ignore /venv folder
/app/venv/

# Ignore logs folder
/app/logs/

# Ignore /static/photos folder
/app/static/photos/

# Ignore __pycache__ folders
__pycache__/

# Ignore config.py file
/app/config.py

# Ignore .DS_Store Mac
.DS_Store/