{% extends 'template.html' %}

{% block title %}Gallery{% endblock %}
{% block head %}{% endblock %}

{% block body%}

    <div class="card-columns" style="margin-top:1em;">
        {% for image_name in image_names %}
        <div class="card">
            <img class="img-fluid gallery-image" id="{{image_name['FileName']}}" src="{{url_for('static', filename='photos/thumbnail/'+image_name['FileName'])}}">
        </div>
        {% endfor %}
    </div>

    <div class="overlay-background"></div>

    <div id="overlay-container">
        <div class="row">
            <div class="col-xl-9 container" id="overlay-image"></div>
            <div class="col-xl-3" id="overlay-sidebar">
                <div style="text-align:right"><button type="button" class="btn" id="overlay-close" style="background-color:{{generated_color}}">Close</button></div>
                <div style="margin-top:1em; padding-right:1em;">
                    <p class="font-weight-bold" style="margin-bottom:0" id="location"></p>
                    <p class="font-weight-light" id="captureDate"></p>
                    <p class="font-weight-normal" style="margin-bottom:0.5em" id="caption"></p>
                    <p class="font-italic" id="place"></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}