/* Used site wide */
body {
    background-color: #f9f9f9;
}

.navbar {
    z-index: 1018;
}

.navbar-scroll-padding {
    padding-top:55px;
}

.navbar-opacity {
    opacity:0.78;
}

.container-fluid {
    padding:0;
}

#footer {
    background-color: #353535;
    padding-top:0.6em;
    padding-bottom:0.6em;
}

#footer-text {
    color: #B2AFAB;
    margin-bottom: 0;
    font-size: small;
}

.pageHeader{
    margin: 1em 0 0 0;
}

p.pageHeader {
    font-weight: lighter;
}

div.error {
    background-color: #ff9eb2;
    padding: 0.5em;
    color: #690000;
}
/* Only used index.html */
#splash-image-div{
    min-height:60vh;
    max-height:100vh;
    overflow:hidden;
    background-color: #000000;
    display: flex;
    align-items: flex-end;
}

#splash-image {
    width:100%;
	height:auto;
    max-width:1920px;
    opacity:0.4;
}

#splash-intro {
    z-index:1;
    position:absolute;
    top:0;
    color:#f9f9f9;
    width:100%;
    visibility:hidden;
}

#splash-intro > h4 {
    font-weight: lighter;
    line-height: 1.7em;
}

#name {
    display: inline-block;
    border-bottom: 1px solid #f9f9f9;
    border-top: 1px solid #f9f9f9;
}

div#intro-text {
    padding:2em;
    background-color: #061427;
}

h3#intro-text {
    visibility: hidden;
    color:#f9f9f9;
}

p#intro-text {
    visibility: hidden;
    color:#d6d2d2;
    font-size: large;
}


/* Only used gallery.html */

.gallery-image:hover{
    opacity:0.9;
    cursor: pointer;
}

.overlay-background{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    visibility:hidden;
    background-color:#000000;
    opacity:0.8;
    z-index:1019;
}

#overlay-container{
    visibility: hidden;
    background-color:transparent;
    position: absolute;
    left:5%;
    right:5%;
    z-index: 1020;
}

#overlay-close{
    border:none;
    color: #f9f9f9;
    border-radius:0;
}

#overlay-image{
    padding-right:0;
    padding-left:0;
    text-align:center;
    background-color: #000000;
}

#image-on-overlay{
    max-height:100%;
    max-width:100%;
}

#overlay-sidebar{
    background-color:#ffffff;
    padding-right: 0;
}

#loadMoreButton{
    width:100%;
    background-color:transparent;
    margin-bottom:1em;
}

#loadMoreButton:hover{
    background-color:transparent;
}

#dateRangeText {
    border: 0;
    font-weight: bold;
    text-align:center;
    width:100%;
    margin-top:0.75em;
    background-color: inherit;
}

.ui-slider-horizontal {
    height: 1.25em !important;
}

.ui-slider .ui-slider-handle{
    height:1.75em !important;
}