/* Used site wide */
body {
    background-color: #f9f9f9;
}

.navbar {
    z-index: 18;
}

.navbar-scroll-padding {
    padding-top:55px;
}

.navbar-opacity {
    opacity:0.78;
}

.container-fluid {
    padding:0;
}

#footer {
    background-color: #353535;
    padding-top:1em;
    padding-bottom:1em;
}

#footer-text {
    color: #B2AFAB;
    margin-bottom: 0;
}

#orange {
    color:#FF6600;
}

/* Only used index.html */
#splash-image-div{
    min-height:60vh;
    max-height:100vh;
    overflow:hidden;
    background-color: #000000;
}

#splash-image {
    width:100%;
	height:auto;
    max-width:1920px;
    opacity:0.27;
}

#splash-intro {
    z-index:1;
    position:absolute;
    top:0;
    color:#f9f9f9;
    width:100%;
    visibility:hidden;
}

div#intro-text {
    padding:2em;
}

h2, p#intro-text {
    color:#f9f9f9;
}

/* Only used gallery.html */

.gallery-image:hover{
    opacity:0.9;
    cursor: pointer;
}

.overlay-background{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    visibility:hidden;
    background-color:#000000;
    opacity:0.8;
    z-index:19;
}

#overlay-container{
    visibility: hidden;
    background-color:transparent;
    position: absolute;
    left:5%;
    right:5%;
    z-index: 20;
}

#overlay-close{
    border:none;
    color: #f9f9f9;
    border-radius:0;
}

#overlay-image{
    padding-right:0;
    padding-left:0;
    text-align:center;
    background-color: #000000;
}

#image-on-overlay{
    max-height:100%;
    max-width:100%;
}

#overlay-sidebar{
    background-color:#ffffff;
    padding-right: 0;
}

#loadMoreButton{
    width:100%;
    background-color:transparent;
    margin-bottom:1em;
}

#loadMoreButton:hover{
    background-color:transparent;
}