{% extends 'template.html' %}

{% block title %}Photoblog{% endblock %}
{% block head %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <style>
        #mapid {height: 500px;}
    </style>

{% endblock %}

{% block body%}

    <h1 class="pageHeader" id="searchQuery">{{searchQuery}}</h1>
    <p class="pageHeader"></p>
    <hr/>

    <div id="mapid"></div>

    <div class="card-columns" style="margin-top:1em;">
        {% for image_name in image_names %}
        <div class="card">
            <img class="img-fluid gallery-image" id="{{image_name['FileName']}}" src="{{url_for('static', filename='photos/thumbnail/'+image_name['FileName'])}}">
        </div>
        {% endfor %}
    </div>
    
    <button type="button" id="loadMoreButton" class="btn btn-outline-primary" style="border-color:{{generated_color}}; color:{{generated_color}}">Load More</button>

    <div class="overlay-background"></div>

    <div id="overlay-container">
        <div class="row">
            <div class="col-xl-9 container" id="overlay-image"></div>
            <div class="col-xl-3" id="overlay-sidebar">
                <div style="text-align:right"><button type="button" class="btn" id="overlay-close" style="background-color:{{generated_color}}">Close</button></div>
                <div style="margin-top:1em; padding-right:1em;">
                    <p class="font-weight-bold" style="margin-bottom:0" id="location"></p>
                    <p class="font-weight-light" id="captureDate"></p>
                    <p class="font-weight-normal" style="margin-bottom:0.5em" id="caption"></p>
                    <p class="font-italic" id="place"></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jslibrary %}
    <!-- Special javascript for gallery.html -->
    <script src="{{ url_for('static',filename='js/gallery.js') }}"></script>

    <script>
        // Color generator
        function generateRandomColor(){
            color = '#30D5'
            fifth = '89ABCDEF'
            sixth = fifth + '0123456789ABCDEF'
            color += fifth[Math.floor(Math.random() * fifth.length)]
            color += sixth[Math.floor(Math.random() * sixth.length)]
            return color
        }

        var mymap = L.map('mapid', {
            'worldCopyJump': true
        }).setView([20, 13], 2);
        mymap.createPane('labels');
        mymap.getPane('labels').style.zIndex = 650;
        mymap.getPane('labels').style.pointerEvents = 'none';

        // Map tile layer
        var positron = L.tileLayer('https://api.mapbox.com/styles/v1/jsnarvasa/{id}/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'ck28jigmh38e81co315ayfuby',
            accessToken: '{{ token|string }}'
        }).addTo(mymap);

        // Map label layer
        var positronLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
            attribution: '©OpenStreetMap, ©CartoDB',
            pane: 'labels'
        }).addTo(mymap);

        // Country boundary polygons layer
        var country_boundaries = {{ geojson|tojson }}
        var geojson = L.geoJson(country_boundaries).addTo(mymap);
        geojson.eachLayer(function (layer) {
            layer.setStyle({fillColor: generateRandomColor(), color: '#30D5C8'})
        });

    </script>

{% endblock %}