<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <title>Home - Jesse Narvasa</title>
    </head>
    <body>
        <!-- The navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color:transparent">
            <div class="container">
                <a class="navbar-brand" style="color:{{generated_color}}" href="/"><b>jsnarvasa</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color:{{generated_color}}" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color:{{generated_color}}" href="/gallery">Gallery<span class="sr-only">(current)</span></a>
                    </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search Tags" aria-label="Search" style="background:transparent;border-color:{{generated_color}}">
                            <button class="btn my-2 my-sm-0" style="border-color:{{generated_color}}; color:{{generated_color}}; background-color:transparent" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        
        <!-- The splash image -->
        <div class="container-fluid" style="max-height:100vh;overflow:hidden;background-color: #000000">
            <img class="img-fluid" id="splash-image" src="{{url_for('send_image', filename='IMG_9871.jpg')}}">
            <h1 class="text-center" id="splash-intro"><strong>HI, I'M JESSE S NARVASA.</strong></h1>
        </div>

    
        <!-- Intro div -->
        <div class="container-fluid" style="background-color:#ff5000; height:20em">
            <div class="row" style="margin:0;">
                <div class="col-sm">
                    <p class="text-left">Sample text</p>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>


        <!-- Loading Javascript libraries-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Custom incompatible with homepage
            <script src="{{ url_for('static',filename='js/javascript.js') }}"></script>
        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>