{% extends 'template.html' %}

{% block title %}Upload New File{% endblock %}

{% block body %}

    <h3>Upload New File</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method=post enctype=multipart/form-data>
        <div class="form-group">
            <label for="file">Upload image</label>
            <input type=file name=file id="file" class="form-control">
        </div>
        <div class="form-group">
            <label for="caption">Caption</label>
            <textarea type="text" name="caption" id="caption" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="capture_date">Date Taken</label>
            <input type="date" name="capture_date" id="capture_date" class="form-control">
        </div>
        <div class="form-group">
            <label for="place">Place</label>
            <input type="text" name="place" id="place" class="form-control">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="city" id="city" class="form-control">
        </div>
        <button type=submit class="btn btn-primary" value=Upload>Upload</button>
    </form>

{% endblock %}